.container
  .form-horizontal(role='form')
    .form-group
      label.col-sm-2.control-label(for='message') Comments
      .col-sm-8
        textarea.form-control(rows='4', name='message', v-model='newComment')
    .form-group
      .col-sm-10.col-sm-offset-2
        button.btn.btn-primary(@click='addComments') Send
        //- button.btn.btn-primary(@click='add1000Comments') add1000Comments
    .form-group
      .col-sm-10.col-sm-offset-2
  // Contenedor Principal
  .comments-container
    h1 방명록
    ul#comments-list.comments-list
      li(v-for='(item, key) in items', :key="item['.key']")
        .comment-main-level
          // Avatar
          .comment-avatar
            img(:src='item.writer.photo', alt='')
          // Contenedor del Comentario
          .comment-box
            .comment-head
              h6.comment-name
                | {{item.writer.username}}
              span {{item.sendtime}}
              i.fa.fa-times(v-on:click='removeComments(key)')
              i.fa.fa-pencil(@click='openModifyModal(key, item)')
            .comment-content
              | {{item.message}}
  modal(v-if='showModal', @close='showModal = false')
    //
      you can use custom content here to overwrite
      default content
    h3(slot='header') 수정
    div(slot='body')
      textarea.form-control(rows='4', name='message', v-model='selectedItem.message')
    div(slot='footer')
      button(@click='submitModifyModal()')
        | OK
      button(@click='closeModifyModal()')
        | Cancel
