.container
  .omb_login
    h3.omb_authTitle
      //- | Login or 
      //- a(href='#') Sign up
      | Login 
    .row.omb_row-sm-offset-3.omb_socialButtons
      .col-xs-4.col-sm-2
        a.btn.btn-lg.btn-block.omb_btn-facebook(@click='facebookAuth()')
          i.fa.fa-facebook.visible-xs
          span.hidden-xs Facebook
      .col-xs-4.col-sm-2
        a.btn.btn-lg.btn-block.omb_btn-twitter(@click='twitterAuth()')
          i.fa.fa-twitter.visible-xs
          span.hidden-xs Twitter
      .col-xs-4.col-sm-2
        a.btn.btn-lg.btn-block.omb_btn-google(@click='googleAuth()')
          i.fa.fa-google-plus.visible-xs
          span.hidden-xs Google+
    //- .row.omb_row-sm-offset-3.omb_loginOr
    //-   .col-xs-12.col-sm-6
    //-     hr.omb_hrOr
    //-     span.omb_spanOr or
    //- .row.omb_row-sm-offset-3
    //-   .col-xs-12.col-sm-6
    //-     form.omb_loginForm(action='', autocomplete='off', method='POST')
    //-       .input-group
    //-         span.input-group-addon
    //-           i.fa.fa-user
    //-         input.form-control(type='text', name='username', placeholder='email address')
    //-       span.help-block
    //-       .input-group
    //-         span.input-group-addon
    //-           i.fa.fa-lock
    //-         input.form-control(type='password', name='password', placeholder='Password')
    //-       span.help-block Password error
    //-       button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
    //
      <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-3">
      <label class="checkbox">
      <input type="checkbox" value="remember-me">Remember Me
      </label>
      </div>
      <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
      <a href="#">Forgot password?</a>
      </p>
      </div>
      </div>

