nav.navbar.navbar-default(v-bind:class="{'navbar-inverse' : inverted}")
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand(href='#') vue-webpack-typescript
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(v-for='link in links', v-bind:class="{'active' : $route.path == link.path}")
          router-link(v-bind:to='link.path') {{link.name}}